.idea/
.DS_Store

/.gradle/
/build/
/local.properties
/.kotlin

/shared/build/

/android/build/
/android/base/release/
/android/fdroid/release/

/apple/timeto.me.xcodeproj/xcuserdata/
/apple/timeto.me.xcodeproj/project.xcworkspace/xcuserdata/
