<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeTo">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TimeTo"
            android:windowSoftInputMode="adjustResize"> <!-- Or API 29 imePadding() bug -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".FullscreenActivity"
            android:theme="@style/MyFullscreen" />

        <receiver
            android:name=".TimerNotificationReceiver"
            android:enabled="true" />

    </application>

</manifest>
